<p id="<%= response.responder.name.parameterize %>-response" class="responder-<%= response.accepted %>" style="line-height:25px;">
  <%= responder_image response.responder %><%= responder_name response.responder %>
  <%= answer_or_options response %>
</p>
