<div class="row">
  <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
  <div class="span12 boxed" id="past-responses" style="margin-top: 25px">
    <h3>Bu kisilerle bulustunuz mu?</h3>
    
    <ol class="past-responses-list">
      <% @postings_with_past_responses.each do |response| %>
      <li class="past-response">
        <div class='past-response-content span4'>
          <div class='past-response-images'>
            <div class="span2 past-response-poster">
              <%= link_to (image_tag response.posting.user.avatar.url(:thumb)) %>
              <p><%= response.posting.user.name %></p>
            </div>
            <div class="span2 past-response-responder">
              <%= link_to (image_tag response.responder.avatar.url(:thumb)) %>
              <p><%= response.responder.name %></p>
            </div>
          </div>
          <div class="span4">
            <p id='from_address'><%= "<i class='fa fa-map-marker  fa-lg green' ></i>  Nereden: #{truncate(Posting.format(response.posting.from_address), length: 30)}".html_safe %></p>
            <p id='to_address'><%= "<i class='fa fa-map-marker  fa-lg red'></i>  Nereye: #{truncate(Posting.format(response.posting.to_address), length: 30)}".html_safe %></p>
            <p><%= "<i class='fa fa-calendar    fa-lg midnight'></i>  #{l response.posting.date, format: :default}".html_safe %></p>
            <p><%= "<i class='fa fa-clock-o     fa-lg orange'></i>  #{response.posting.starting_time.strftime("%H:%M")} - #{response.posting.ending_time.strftime("%H:%M")}".html_safe %></p>
            <% if response.posting.comments.present? %>
              <h6>Notlar</h6>
              <p><%= response.posting.comments %></p>
            <% end %>
          </div>
          <div class="center" id="<%= response.posting.user.name.parameterize %>-<%= response.responder.name.parameterize %>-answer-<%= response.posting.id %>"><%= link_to "Evet", posting_response_happened_path(response), class: "btn btn-mini btn-success", remote: true %> <%= link_to "Hayir", posting_response_not_happened_path(response), class: "btn btn-mini btn-danger", remote: true %></div>
        </div>
      </li>
      <% end %>
    </ol>    
  </div>
</div>
