= provide(:title, 'Hakkımızda')
%h1 Hakkımızda
.row
  .span4
    %h2 Trafik Sorunu
    %p Biz İstanbul’un trafik probleminin toplu taşıma yada devletin sağladığı diğer hizmetlerle sağlanamayacağını düşünen; bunun için gereken kaynak ve enerjinin biz sıradan vatandaşlarda olduğuna inanan bireyleriz.
  .span4.offset2
    = image_tag "istanbul_traffic.jpeg"
.row
  .span4
    = image_tag "environmentalism.jpg"
  .span4.offset2
    %h2 Çevre Duyarlılığı
    %p Bu siteyle şehir trafiğinin rahatlaması, yakıt masraflarından tasarruf sağlanması ve çevre kirliliğinin azaltılmasını sağlayabiliriz.
.row
  .span4
    %h2 Sende Başla
    %p       
      = raw "Bunlar sana yapmaya değer geliyorsa sen de bize #{link_to 'KATIL', signup_path}. Profilini oluştur, yolculuğunu belirt, paylaş ve herkes kazansın."
  .span4.offset2
    = image_tag 'carshare_parking.jpeg'
