<%= provide(:title, 'Hakkımızda') %>
<h1><%="#{t 'static_pages.about.title'}"%></h1>
<div class="row about-row">
  <div class="span8">
    <p><%= "#{t "static_pages.about.first_paragraph"}"%></p>
  </div>
</div>
<div class="row about-row">
  <div class="span6">
    <p><%= "#{t "static_pages.about.second_paragraph"}"%></p>
    <p><%= "#{t "static_pages.about.third_paragraph"}"%></p>
    <p><%= "#{t "static_pages.about.fourth_paragraph"}"%></p>
  </div>
  <div class="span4">
    <%= image_tag 'trafik.png' %>
  </div>
</div> 