<% content_for :javascripts do %>
  <%= javascript_include_tag "home.js" %>
<% end %>

<div class="center hero-unit i-main-container">
	<%= simple_form_for :find_from_home, method: "get", html: { class: "form-search" }, url: { controller: "postings", action: "find_from_home_page" } do |f| %>
      <%= f.input :from_address, label: false, placeholder: "Nereden" , as: :string %>
      <%= f.button :submit, "İlan Ara", name: nil, class: 'btn btn-primary btn-large', id: "search-button" %>
	<div id = "container-right-part">
	  <div class="row">
      <%= hidden_field_tag :driving, params[:driving] %>
      <%= hidden_field_tag :to_address, "Koç Üniversitesi" %>
    <% end %>
	  </div>
		
	   <div class="row" id = "main-buttons">
	     <%= link_to "Üye Ol !", new_user_registration_path, class: "btn btn-large btn-primary", style: "color: white" %>
	     <%= link_to "Neden?", why_path, class: "btn btn-large btn-primary", style: "color: white; background: green" %>
	   </div>
	</div> <!--container-right-part-->
</div><!--center hero-unit i-main-container-->