<% content_for :javascripts do %>
  <%= javascript_include_tag "home.js" %>
<% end %>
<div class="i-main-container">
  <div class="center hero-unit">
    <h2>Paylasacak Yolculuk Arayin</h2>

    <p>Koc Universiteli asagidaki kutudan gitmek istedigin adrese olan ilanlari gorebilirsin</p>
    <%= simple_form_for :find_from_home, method: "get", url: { controller: "postings", action: "find_from_home_page" }, html: { id: "home-search" } do |f| %>
      <div class="form-inline">
        <%= f.input :to_address, label: false, placeholder: "Nereye gitmek istiyorsun", as: :string, input_html: { id: "home-search-input" } %>
        <%= f.input :from_address, label: false, class: "hidden", input_html: { value: "#{request.location.city}", class: "hidden" } %>
        <%= f.button :submit, "İlan Ara", class: 'btn btn-primary btn-medium', id: "home-search-button" %>
      </div>
      <!-- <%= hidden_field_tag :driving, params[:driving] %>-->
    <% end %>
    
    <p>veya <%= link_to "Butun Ilanlara Bak", find_posting_path %> </p> 
  </div><!--center hero-unit-->
  <div id="newest-postings">
    <% @last_3_postings.each do |posting| %>
      <div class="small-posting clickable" href="<%= posting_preview_path(posting) %>">
        <%= render partial: "postings/small_posting", locals: { posting: posting }  %>
      </div>
    <% end %>
  </div>
</div><!-- i-main-container -->
<div id="why-offtrafik">
  <p></p>
</div>