<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Offtrafik</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <%= stylesheet_link_tag "welcome/gumby.css", media: 'all' %>
  <%= stylesheet_link_tag "welcome/style.css", media: 'all' %>
  
	<script type="text/javascript">
		function load() {
			$(document).ready(function() {
				var desiredHeight = $("body").height();
				$("#header").css("height", desiredHeight);
			});
		}
	</script>
  <%= javascript_include_tag "welcome/modernizr.min.js" %>
  <%= javascript_include_tag "welcome/jquery.min.js" %>
  
</head>
<body onload="load()">

<div class="cbp-af-header">
  <nav class="row">
     <div id="logo"><a class="navbar-brand" href="#"><%= image_tag "offtrafik-no-background-logo.png" %></a></div>
     <ul id="nav">
      <% unless user_signed_in? %> 
        <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), wrapper: false, html: { id: "welcome-login", class: "form-inline", novalidate: false }, method: :post do |f| %>
          <%= f.input_field :email, label: false, placeholder: "Email", required: true, class: "search-query input-large", pattern: "[^@\s]+@ku.edu.tr", title: "Lütfen emailinizi girin" %>
          <%= f.input_field :password, label: false, placeholder: "#{ t 'static_pages.welcome.login-form.password'}", required: true, class: "search-query input-large", pattern: '\S{8,}', title: "En az 8 karakter olmalıdır" %>
          <%= f.button :submit, "#{t 'static_pages.welcome.login-form.submit'}", id: "login-submit" %>
        <% end %>
      <% else %>
       <span class="pull-right" id="no-header-logged-in-user">Hoşgeldin <%= current_user.name %> <span><%= link_to "Offtrafik'e Git", user_past_responses_path(current_user.id) %></span><%= link_to "#{current_user.name} degilim", destroy_user_session_path, method: "delete"  %></span>
      <% end %>
     </ul>
  </nav>
</div>

<section id="header" style="background-repeat:no-repeat no-repeat;">
    <div class="row">
    	<div style="height: 50px">
      <% unless user_signed_in? %> 
        <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), wrapper: false, html: { id: "welcome-login", class: "form-inline", novalidate: false }, method: :post do |f| %>
          <%= f.input_field :email, label: false, placeholder: "Email", required: true, class: "search-query input-large", pattern: "[^@\s]+@ku.edu.tr", title: "Lütfen emailinizi girin" %>
          <%= f.input_field :password, label: false, placeholder: "#{ t 'static_pages.welcome.login-form.password'}", required: true, class: "search-query input-large", pattern: '\S{8,}', title: "En az 8 karakter olmalıdır" %>
          <%= f.button :submit, "#{t 'static_pages.welcome.login-form.submit'}", id: "login-submit" %>
        <% end %>
    	<% else %>
       <span class="pull-right" id="header-logged-in-user">Hoşgeldin <%= current_user.name %> <span><%= link_to "Offtrafik'e Git", user_past_responses_path(current_user.id) %></span> <%= link_to "#{current_user.name} degilim", destroy_user_session_path, method: "delete"  %></span>
      <% end %>
      </div>
        <div class="twelve columns centered" style="margin-top: 0px">
	          <div class="fade1 font-titi-semib" style="font-size: 110px;"><%= image_tag "offtrafik-no-background-logo.png" %></div>     
	          <h2 class="fade2"><%= t "static_pages.welcome.tagline" %></h2>
            <%= link_to  "#{ t 'static_pages.welcome.about_link'} ", "#about", class: "scroll-button fade3" %>
            <br />
            <%= link_to "#{ t 'static_pages.welcome.join_us_link'}", new_user_registration_path, class: "button fade3" %>
	      </div>
    </div>
</section>

<div id="container" class="container">
	<div id="cbp-so-scroller" class="cbp-so-scroller">

<section id="about" class="cbp-so-section thumbs">
	<div class="row">
		<div class="twelve columns centered">
			<h3><%= "#{t 'static_pages.welcome.about.title'}" %></h3>	
			<p class="lead"><span class="font-titi-semib" style="font-size:24px;">Offtrafik</span> <%= "#{t 'static_pages.welcome.about.subtitle_part_one'}" %><br><%= "#{t 'static_pages.welcome.about.subtitle_part_two'}" %></p>

			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9b">	         
                <ul class="three_up tiles centered hi-icon-effect-9 hi-icon-effect-9b">
                    
                    <li>
                    <%= link_to (image_tag "landing-page-register.png", class: "hi-icon"), new_user_registration_path %>
                    <div class="clear"></div>
                    <h4><%= t "static_pages.welcome.about.featurette_one.title" %></h4>
                    <p><%= t "static_pages.welcome.about.featurette_one.text" %></p>
                    </li>
                    
                    <li>
                    <%= link_to (image_tag "landing-page-search-post.png", class: "hi-icon"), "#control", id: "img-to-aboutus" %>
                    <div class="clear"></div>                    
                    <h4><%= t "static_pages.welcome.about.featurette_two.title" %></h4>
                    <p><%= t "static_pages.welcome.about.featurette_two.text" %></p>
                    </li>
                    
                    <li>
                    <%= link_to (image_tag "landing-page-share.png", class: "hi-icon"), "#aboutus" %>
                    <div class="clear"></div>                    
                    <h4><%= t "static_pages.welcome.about.featurette_three.title" %></h4>
                    <p><%= t "static_pages.welcome.about.featurette_three.text" %></p>
                    </li>
                
                </ul> 
  			</div>          
		</div>
	</div>		
</section>

<section id="aboutus" class="cbp-so-section work1 padding-top-80">
	<div class="row">
		<div class="five columns cbp-so-side cbp-so-side-left">
			<h3><%= t "static_pages.welcome.aboutus.title"  %></h3>
			<p><span class="font-titi-semib" style="font-size:24px">Offtrafik</span> <%= t "static_pages.welcome.aboutus.text_part_one"  %><br/><%= t "static_pages.welcome.aboutus.text_part_two"  %></p> 
		</div>
		<div class="seven columns cbp-so-side cbp-so-side-right">
      <%= image_tag "welcome/welcome-page-taxi-posting.png", class: "about-us-img", id: "left" %>
      <%= image_tag "welcome/welcome-page-driver-posting.png", class: "about-us-img", id: "center" %>
      <%= image_tag "welcome/welcome-page-passenger-posting.png", class: "about-us-img", id: "right" %>
		</div>
	</div>
</section>

<section id="control" class="cbp-so-section work2 padding-top-80">
	<div class="row">
		<div class="five columns cbp-so-side cbp-so-side-right" style="float:right;">
      <h3><%= t "static_pages.welcome.control.title" %></h3>
        <p><%= t "static_pages.welcome.control.text" %></p>
		</div>		
		<div class="seven columns cbp-so-side-img cbp-so-side-left" style="margin-top: 50px" >	
      <%= image_tag "welcome/welcome-page-control.png", width: "100%", style: "height: 300px;" %>      
		</div>	
	</div>
</section>


<section id="joinus">
	<div class="row">
		<div class="eight columns centered">	
			<h2><%= t "static_pages.welcome.joinus_html" %></h2>
		</div>
	</div>
</section>

<section id="signup">
	<div class="row centered"> 
		<div class="seven columns centered">				
      <div class="twelve columns centered">
        <%= link_to "#{t 'static_pages.welcome.joinus_button'}", new_user_registration_path, class: "header-sign-up-button" %></div>
		</div>
	</div>
</section>

</div>

<div id="footerSpacer"></div>

<section id="footer">
	<div class="row">		
		<div class="seven columns pull_left">	
			<p>© 2014 Offtrafik</p>
		</div>

		<div class="five columns text-right social">
			<ul id="navfirst">
        <li><%= link_to "<i class='icon-envelope'></i> #{t 'static_pages.welcome.joinus_link_at_bottom'}".html_safe, new_user_registration_path %></li>				
				<li><a href="#aboutus"><i class="icon-info-sign"></i> <%= t 'static_pages.welcome.about_link_at_bottom' %></a></li>
				<li><a href="#"><i class="icon-home"></i> <%= t 'static_pages.welcome.welcome_link_at_bottom' %></a></li>
			</ul>
		</div>
	</div>
</section>

</div>
<%= javascript_include_tag "welcome/index.js" %>
<%= javascript_include_tag "welcome/cbpScroller.js" %>
<%= javascript_include_tag "welcome/classie.js" %>
<%= javascript_include_tag "welcome/jquery.parallax.js" %>
<%= javascript_include_tag "welcome/jquery.scrollto.js" %>
<%= javascript_include_tag "welcome/jquery.ui.js" %>
</body>
  
</html>

<!-- <section class="cbp-so-section work1">
  <div class="row">
    <div class="six columns cbp-so-side cbp-so-side-left">
    
      <h3>When and Where You Need It!</h3>
      <p><span class="font-titi-semib" style="font-size:24px">wanderr</span> is committed to helping users remember how to have fun! We want you to enjoy life and our queue will help you manage your needs. We offer both public and private queues for keeping track of locations; you can browse all the places you've been and all the places you want to go!
      </p>
      <div class="download-button" style="padding-top:30px;">
        <%= image_tag "welcome/appstore.png" %>
      </div>
    
    </div>
  
    <div class="six columns cbp-so-side-img cbp-so-side-right" style="margin-bottom:-60px;" >
      <%= image_tag "welcome/myQueueTransparent.png", width: "75%" %>
    </div>
  </div>
</section> -->
