<%= provide(:title, 'Neden') %>
<h1 id = "why-title"><%= "#{t 'why_title'}"%></h1>
<div class="row why-paragraph-1">
  <div class="span8">
    <p><%= "#{t 'static_pages.why.first_paragraph'}"%></p>
    <p><%= "#{t 'static_pages.why.second_paragraph'}"%></p>
  </div>
</div>
<div class="row why-paragraph-2">
  <div class="span6">
    <p><%= "#{t 'static_pages.why.third_paragraph'}"%></p>
  </div>
  <div class="span2">
    <%= image_tag "komikkoc.png" %>
  </div>
</div>
<div class="row why-paragraph-3">
  <div class="span4">
    <%= image_tag "harita.png", size: "400x250" %>
  </div>
  <div class="span4">
    <p><%= "#{t 'static_pages.why.fourth_paragraph'}"%></p>
  </div>
</div>
<div class="row why-paragraph-4">
  <div class="span6">
    <p><%= "#{t 'static_pages.why.fifth_paragraph'}"%></p>
    <p><%= "#{t 'static_pages.why.sixth_paragraph'}"%></p>
  </div>
  <div class="span4">
    <%= image_tag "doga.png" %>
  </div>
</div>
