<div class="row">
  <%= render partial: 'shared/sidebar' %>
  <section class="span8" id="edit-user">
    <h2><%= resource_name.to_s.humanize %> Profilinizi Guncelleyin</h2>

    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" } do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, label: "Ad", required: true, autofocus: true %>
        <%= f.input :last_name, label: "Soyad", required: true %>
        <%= f.input :neighborhood, label: "Hangi Semttensiniz", collection: DISTRICTS, input_html: { id: "user-neighborhood", data: { placeholder: "Semtiniz" } } %>
        <%= f.input :summary, label: "Kendinizi Tek Cumleyle Ozetleyin", as: :text, input_html: { cols: 30, rows: 2 } %>
        <%= f.input :driver, label: "Kampuse kendi arabanizla mi geliyorsunuz?", required: false, collection: yes_no, as: :radio_buttons, item_wrapper_class: "inline" %>
        <%= f.input :email, disabled: true, :required => true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, :autocomplete => "off", :hint => "degistirmek istemiyorsaniz bos birakin", :required => false %>
        <%= f.input :password_confirmation, :required => false %>
        <%= f.input :current_password, :hint => "degisiklikleri onaylamamiz icin sifrenize ihtiyacimiz var", :required => true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Guncelle" %>
      </div>
    <% end %>

    <!-- <h3>Cancel my account</h3> -->

    <!-- <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p> -->

    <%= link_to "Geri", :back %>
  </section>
</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag "users.js" %>
<% end -%>