<%= provide(:title, 'Üye Ol') %>
<h1 style:"margin:auto;">Üye Ol</h1>
<div class="row">
  <div class="span6" style="float:none" id="user-registration-form">

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>

  <div class="form-inputs">
    <%= f.input :first_name, label: "Ad", required: true, autofocus: true %>
    <%= f.input :last_name, label: "Soyad", required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, label: "Şifre", required: true %>
    <%= f.input :password_confirmation, label: "Şifre Onaylama", required: true %>
    <%= f.input :driver, label: "Kampuse kendi arabanizla mi geliyorsunuz?", required: false, collection: yes_no, as: :radio_buttons, item_wrapper_class: "inline" %>
  </div>
  
  <div id="terms_and_conditions">
    <%= f.input :agreed_to_terms_and_conditions, label: "Devam etmek icin #{link_to 'Kullanım Koşulları ve Şartlarını', terms_and_conditions_url} kabul etmeniz gerekmektedir".html_safe, as: :boolean, item_wrapper_class: "inline", required: true %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "Kayıt Ol", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
