<%= provide(:title, 'Üye Ol') %>
<h1 style:"margin:auto;"><%="#{t 'devise.registration.new.sign_up'}"%></h1>
<div class="row">
  <div class="span6" style="float:none" id="user-registration-form">

<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>

  <div class="form-inputs">
    <%= f.input :first_name, label: "#{t 'devise.registration.new.firstname'}", required: true, autofocus: true %>
    <%= f.input :last_name, label: "#{t 'devise.registration.new.lastname'}", required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, label: "#{t 'devise.registration.new.password'}", required: true %>
    <%= f.input :password_confirmation, label: "#{t 'devise.registration.new.confirm_password'}", required: true %>
    <%= f.input :driver, label: "#{t 'devise.registration.new.own_a_car'}", required: false, collection: yes_no, as: :radio_buttons, item_wrapper_class: "inline" %>
  </div>
  
  <div id="terms_and_conditions">
    <br />
    <%= f.input :agreed_to_terms_and_conditions, label: false, inline_label: "Offtrafik #{link_to 'Kullanım Koşullarını', terms_and_conditions_url} kabul ediyorum".html_safe, as: :boolean, input_html: { class: "inline-checkbox-customized" }, required: true %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, "#{t 'devise.registration.new.sign_up_button'}", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
