<meta content="text/html" http-equiv="Content-Type"/>
<p><%= "#{t 'user_mailer_welcome_greeting'}" @user.name %>,</p>

<p><%= "#{t 'user_mailer_welcome_welcome'}" %></p>

<p><%="#{t 'user_mailer_welcome_first_paragraph'}"%></p>

<p><%="#{t 'user_mailer_welcom_second_paragraph'}"%></p>

<p><%= "#{t 'user_mailer_welcom_third_paragraph'}"%></p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>