<meta content="text/html" http-equiv="Content-Type"/>
<p><%= "#{t 'user_mailer.welcome.greeting'}" @user.name %>,</p>

<p><%= "#{t 'user_mailer.welcome.welcome'}" %></p>

<p><%="#{t 'user_mailer.welcome.first_paragraph'}"%></p>

<p><%="#{t 'user_mailer.welcome.second_paragraph'}"%></p>

<p><%= "#{t 'user_mailer.welcome.third_paragraph'}"%></p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>