<div class="row">
  <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
  <div class="row">
    <div class="span5" id="full-comment">
        <div class="span1">
          <%= link_to (image_tag @comment.user.avatar.url(:square)), @comment.user %>
        </div>
        <div class="span3 comment-details">
          <p><h4><%="#{t 'comments.show.from_whom'}" link_to @comment.user.name, @comment.user %></h4></p>
          <p><h5><%="#{t 'comments.show.rating'}" @comment.rating %></h5></p>
          <p><h5><span style="text-decoration:underline"><%= "#{t 'comments.show.comment'}"%></span><br /> <%= @comment.text %></h5></p>
        </div>
      </div>
    </div>
</div>