%p#notice= notice

%p
  %b First Name:
  = @person.first_name

%p
  %b Last Name:
  = @person.last_name
  
%p
  %b Email:
  = @person.email
  
= link_to 'Edit', edit_person_path(@person)
= link_to 'Back', people_path
