<%= provide(:title, "#{t 'users.find.find_user'})" %>
<div class="row">
  <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
  <section>
    <h3>
      <%= "#{t "users_find_find_user"}" %>
    </h3>
    <table class="table table-hover">
      <tr>
        <td><%= "#{t 'users.find.find_name'}" %></td>
        <td><%= "#{t 'users.find.find_contact_choice'}" %></td>
        <td><%= "#{t 'users.find.find_contact_information'}" %></td>
      </tr>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user.name, user %>
            </td>
            <td>
              <%= link_to user.preferred_contact_method, user %>
            </td>
            <td>
              <%= link_to user.preferred_contact_content, user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
