<%= provide(:title, "Kullanıcı Ara") %>
<div class="row">
  <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
  <section>
    <h3>
      <%= = Kullanici Ara %>
    </h3>
    <table class="table table-hover">
      <tr>
        <td>İsim</td>
        <td>İletişim Tercihi</td>
        <td>İletişim Bilgisi</td>
      </tr>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user.name, user %>
            </td>
            <td>
              <%= link_to user.preferred_contact_method, user %>
            </td>
            <td>
              <%= link_to user.preferred_contact_content, user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
