= provide(:title, "Kullanıcı Ara")
.row
  %aside.span4
    %section      
      = render 'shared/user_info'
  %section
    %h3== Kullanici Ara
    %table.table.table-hover
      %tr
        %td Isim
        %td Iletisim Tercihi
        %td Iletisim Bilgisi
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, user
            %td= link_to user.preferred_contact_method, user
            %td= link_to user.preferred_contact_content, user
    