<%= provide(:title, 'Üye Ol') %>
<h1>Üye Ol</h1>
<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @user do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.input :name, label: "İsim" %>
      <%= f.input :email %>
      <%= f.input :neighborhood, label: "İlçeniz", as: :select, collection: DISTRICTS, include_blank: false, input_html: { style: "height: 40px" } %>
      <%= f.input :password, label: "Şifre" %>
      <%= f.input :password_confirmation, label: "Şifre Onaylama" %>
      <div id="terms_and_conditions">
        <%= f.input :agreed_to_terms_and_conditions, as: :boolean, label: "Devam etmek icin #{link_to 'Kullanım Koşulları ve Şartlarını', terms_and_conditions_url} kabul etmeniz gerekmektedir", item_wrapper_class: "inline" %>
      </div>
      <%= f.submit "Kayıt Ol", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
