= provide(:title, 'Üye Ol')
%h1 Üye Ol
.row
  .span6.offset3
    = simple_form_for @user do |f|
      = render 'shared/error_messages', object: f.object
      
      = f.input :name, label: "Isim"
      
      = f.input :email
      
      = f.input :neighborhood, label: "Ilceniz", as: :select, collection: DISTRICTS, include_blank: false
      
      = f.input :password, label: "Şifre"
      
      = f.input :password_confirmation, label: "Şifre Onaylama"
      
      #terms_and_conditions
        = f.input :agreed_to_terms_and_conditions, as: :boolean, label: "Devam etmek icin #{link_to 'Kullanım Koşulları ve Şartlarını', "assets/documents/Terms-And-Conditions.pdf", target: '_blank'} kabul etmeniz gerekmektedir", item_wrapper_class: "inline"
      
      = f.submit "Kayıt Ol", class: "btn btn-large btn-primary"