= provide(:title, 'Üye Ol')
%h1 Üye Ol
.row
  .span6.offset3
    = simple_form_for @user do |f|
      = render 'shared/error_messages', object: f.object
      
      = f.input :name, label: "Isim"
      
      = f.input :email
      
      = f.input :password, label: "Şifre"
      
      = f.input :password_confirmation, label: "Şifre Onaylama"
      
      = f.input :agreed_to_terms_and_conditions, label: "Kullanım Koşulları ve Şartları", id: "terms_and_conditions_label", as: :boolean, input_html: { class: "terms-and-conditions" }
      %div Devam etmek icin #{link_to 'Kullanım Koşulları ve Şartlarını', terms_and_conditions_path} kabul etmeniz gerekmektedir
      
      = f.submit "Kayıt Ol", class: "btn btn-large btn-primary"