= provide(:title, @user.name)
.row
  %aside.span4
    %section
      <h1>
      = gravatar_for @user
      = "#{@user.name}"  
      </h1>
    .span8
      - if @user.cars.any? 
        %h3 Kayıtlı Arabalar
        = will_paginate @cars
        %ol.cars
          = render @cars