= provide(:title, @user.name)
.row
  %aside.span4
    %section      
      = render 'shared/user_info'
  %section
    %h1#user-name-heading= @user.name 
    <p style="font-size: 14px; margin-bottom: 10px">#{@user.summary}</p>
    #map
    %section
      <h4 style="display: none">Semt: <span id="neighborhood">#{@user.neighborhood}</span></h4>
      %h4== Yolculuk Puanı: #{@user.trip_rating}
    = render 'display_comments', comments: @comments, user: @user
    