<%= provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <section>
    <h1 id="user-name-heading">
      <%= @user.name  %>
    </h1>
    <p style="font-size: 14px; margin-bottom: 10px"> <%= @user.summary %></p>
    <div id="map"></div>
    <section>
      <h4 style="display: none">Semt: <span id="neighborhood">#{@user.neighborhood}</span></h4>
      <% @favorites.each do |f| %>
        <span class="favorite" style="display:none">#{f.location}</span>
      <% end %>
      <h4>
        Yolculuk Puanı: <%= @user.trip_rating %>
      </h4>
    </section>
    <%= render 'display_comments', comments: @comments, user: @user %>
  </section>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "users.js" %>
  <%= javascript_include_tag "maps.js" %>
<% end %>
