<%= provide(:title, @user.name) %>
<div class="row">
  <%= render partial: 'shared/sidebar' %>
  <section id="user-show" style="margin-top: 25px">
    <div style="min-height: 100px; margin-bottom: 10px"><%= image_tag current_user.avatar.url(:thumb), style: "float:left" %>
        <div style="float:left; margin-left: 5px">
          <h1 id="user-name-heading">
            <%= @user.name %>
          </h1>
          <p style="font-size: 14px; margin-bottom: 10px;"> <%= @user.summary %></p>
        </div></div>
    <div id="map"></div>
    <section style="margin-left: 10px">
      <h4 style="display: none">Semt: <span id="neighborhood"><%= @user.neighborhood %></span></h4>
      <div class="row">
        <div class="span6">
          <h4>Yolculuk Puanı: <%= @user.trip_rating %></h4>
        </div>
        <% if @user == current_user %>
        <div class="span6">
          <h4 id='total-journey-count'>Toplam Yolculuklar: <%= @user.total_journeys %> </h4>
        </div>
        <% end %>
      </div>
    <div class="row">
      <div class="span6">
        <h3>Yorumlar</h3>
        <% if @user != current_user %>
          <%= link_to "Yorum Yaz", new_comment_path(is_about: @user.id), class: "btn btn-small", id: "write_comment" %>
        <% end %>
        <%= render 'display_comments', comments: @comments %>
      </div>
      <% if @user == current_user %>
      <div class="span6">
        <h3 id="past-journeys-title">Gecmis Yolculuklar</h3>
        <div id="past-journeys">                           
        <table>
          <tr>
            <td id="date-time"><strong>Tarih</strong></td>
            <td id="journey"><strong>Yolculuk</strong></td>
            <td id="with-who"><strong>Kiminle</strong></td>
          </tr>
          <tbody>
            <% @agreed_journeys.each do |journey| %>
              <tr id="<%= journey.user.name.parameterize %>-<%= journey.id %>">
                <td><%= "#{journey.formatted_date} #{journey.starting_time.strftime("%H:%M")} - #{journey.ending_time.strftime("%H:%M")}" %></td>
                <td><%= "<span class='past-from-address'>#{Posting.format(journey.from_address)}</span> - <span class='past-to-address'>#{Posting.format(journey.to_address)}</span>".html_safe %></td>
                <td><%= journey.people_who_completed_journey(current_user.name).join(',').present? ? journey.people_who_completed_journey(current_user.name).join(',') : "Yalniz" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
          <%= will_paginate @agreed_journeys, param_name: "journey_page" %>
        </div> 
      </div>
      <% end %>
    </div>
    </section>
  </section>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "users.js" %>
<% end %>
