<%= provide(:title, @user.name) %>
<div class="row">
  <%= render partial: 'shared/sidebar' %>
  <section id="user-show" style="margin-top: 25px">
    <div style="min-height: 100px; margin-bottom: 10px"><%= image_tag current_user.avatar.url(:thumb), style: "float:left" %>
        <div style="float:left; margin-left: 5px">
          <h1 id="user-name-heading">
            <%= @user.name %>
          </h1>
          <p style="font-size: 14px; margin-bottom: 10px;"> <%= @user.summary %></p>
        </div></div>
    <div id="map"></div>
    <section style="margin-left: 10px">
      <h4 style="display: none">Semt: <span id="neighborhood"><%= @user.neighborhood %></span></h4>
      <div class="row">
        <div class="span6">
          <h4>Yolculuk Puanı: <%= @user.trip_rating %></h4>
        </div>
        <% if @user == current_user %>
        <div class="span6">
          <h4 id='total-journey-count'>Toplam Yolculuklar: <%= @user.total_journeys %> </h4>
        </div>
        <% end %>
      </div>
    <div class="row">
      <div class="span6">
        <h3>Yorumlar</h3>
        <% if @user != current_user %>
          <%= link_to "Yorum Yaz", new_comment_path(is_about: @user.id), class: "btn btn-small", id: "write_comment" %>
        <% end %>
        <%= render 'display_comments', comments: @comments %>
      </div>
      <% if @user == current_user %>
      <div class="span6">
        <h3 id="past-journeys-title">Gecmis Yolculuklar</h3>
        <div id="past-journeys">                           
          <% @agreed_journeys.each do |journey| %>
            <%= render "agreed_journey_card", journey: journey %>
          <% end %>
          <%= will_paginate @agreed_journeys, param_name: "journey_page" %>
        </div> 
      </div>
      <% end %>
    </div>
    </section>
  </section>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "users.js" %>
<% end %>
