= provide(:title, @user.name)
.row
  %aside.span4
    %section      
      = render 'shared/user_info'
  %section
    %h1= @user.name
    %section
      %h4== Iletişim(#{@user.preferred_contact_method}): #{@user.preferred_contact_content}
      %h4== Yolculuk Puanı: #{@user.trip_rating}
    = render 'display_comments', comments: @comments, user: @user