= provide(:title, @user.name)
.row
  %aside.span4
    %section
      <h1>
      = gravatar_for @user
      = "#{@user.name}"  
      </h1>
      %section
        Sürücü Puanı: #{@user.driver_rating}/5      
        <br />
        Kişilik Puanı: #{@user.person_rating}/5  
        <br />
        Sigara: #{@user.smoking?}    
  -# .span8
    -# - if @user.cars.any? 
      -# %h3 Kayıtlı Arabalar
      -# = will_paginate @cars
      -# %ol.cars
        -# = render @cars