%h3 Ilan Ara
%section
  = simple_form_for find_posting_path, method: "get" do |f|
    .row
      .span3
        = f.input :from_address, label: "Nereden", as: :select, collection: DISTRICTS << "Koc Universitesi", input_html: { value: params[:from_address] }
      .span3
        = f.input :to_address, label: "Nereye", as: :select, collection: DISTRICTS << "Koc Universitesi", input_html: { value: params[:to_address] }
    <br />
    .row
      .span3
        = f.input :driving , label: "Aranan",  collection: ["Farketmez", "Sürücü", "Yolcu"], include_blank: false, input_html: { value: params[:driving] }
      .span2
        = f.submit "Ara", name: nil, class: 'btn btn-primary btn-medium'
  <br />
  = will_paginate @postings
  = render 'shared/posting_table', posting_list: @postings