<h3>İlan Ara</h3>
<div id="posting-find">
  <%= simple_form_for find_posting_path, html: { class: "form-horizontal" }, method: "get" do |f| %>
        <%= f.input :from_address, label: false, placeholder: "Nereden", input_html: { value: @from_address, id: "from_address", class: "search-input" }  %>
        <%= f.input :to_address, label: false, placeholder: "Nereye", input_html: { value: @to_address, id: "to_address", class: "search-input" } %>
        <%= f.input :driving , label: false, include_blank: "Aranan", collection: @driving_options, input_html: { value: @driving, id: "driving" } %>
      <%= f.button :submit, "Ara", class: 'btn btn-primary btn-medium', style: "width: 120px; height: 40px; left: 40%; position: relative; font-size: large" %>
  <% end %>
    <% if @postings.present? %>      
      <div id="show-results">
        <%= render 'shared/posting_table', posting_list: @postings, param_name: "page" %>
      </div>
    <% end %>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag "postings.js" %>
<% end %>