%h3 Ilan Ara
%section
  = form_tag find_posting_path, method: "get" do
    .row
      .span3
        = text_field_tag :from_address, params[:from_address], class: "span3 search-query", placeholder: "Nereden"
      .span3
        = text_field_tag :to_address, params[:to_address], class: "span3 search-query", placeholder: "Nereye"
    <br />
    .row
      .span3
        = select_tag :driving , options_for_select(["Sürücü", "Yolcu", "Farketmez"]), prompt: "Aranan"
      .span2
        = submit_tag "Ara", name: nil, class: 'btn btn-primary btn-medium'
  <br />
  = will_paginate @postings
  = render 'shared/posting_table', posting_list: @postings