<h3>İlan Ara</h3>
<div id="posting-find">
  <%= simple_form_for find_posting_path, html: { class: "form-horizontal" } do |f| %>
    <div class="row">
      <div class="span3 posting_span">
        <%= f.input :from_address, label: false, id: "from_address", collection: @districts, as: :select, include_blank: "Nereden", input_html: { class: "chosen-select" }  %>
      </div>
      <div class="span3 posting_span">
        <%= f.input :to_address, label: false, id: "to_address", collection: @districts, as: :select, include_blank: "Nereye", input_html: { class: "chosen-select" } %>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <%= f.input :driving , label: "Aranan",  collection: @driving_options, include_blank: false, input_html: { value: @driving } %>
      </div>
    </div>
    <div class="row">
      <%= f.button :submit, "Ara", class: 'btn btn-primary btn-medium', style: "width: 120px; height: 40px; left: 40%; position: relative; font-size: large" %>
    </div>
  <% end %>
  <div id="show-results">
    <% if @postings.present? %>
      <%= will_paginate @postings %>
      <%= render 'shared/posting_table', posting_list: @postings %>
    <% end %>
  </div>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag "postings.js" %>
<% end %>