%h3 Ilan Ara
%section
  = form_tag find_posting_path, method: "get" do
    .row
      .span3
        = label_tag :from_address, "Nereden"
        = text_field_tag :from_address, params[:from_address], class: "span3 search-query"
      .span3.offset1
        = label_tag :to_address, "Nereye"
        = text_field_tag :to_address, params[:to_address], class: "span3 search-query"
    .span2.offset3
      = submit_tag "Ara", name: nil, class: 'btn btn-primary btn-medium'
  <br />
  = will_paginate @postings
  = render 'shared/posting_table', posting_list: @postings