<% cache [posting, "details", posting.user] do %>
  <div class="span3">
    <div id="posting-image-container" class="span3">
      <%= image_tag "posting-#{posting.driving.downcase.parameterize}.png", id: "posting-image" %>
    </div>
    <div id="no-smoking-container">
      <% unless posting.smoking %>
        <%= image_tag "no_smoking_icon.png", id: "no-smoking-img" %>
      <% end %>
    </div>
  </div>
  <div id="details-of-posting" class="span3">
    <p id="posting-user"><%= "#{link_to (image_tag posting.user.avatar.url(:thumb)), posting.user }  #{link_to posting.user.name, posting.user}".html_safe %></p>
    <p id='from_address'><%= "<i class='fa fa-map-marker  fa-lg green' ></i>  #{t "postings_posting_details_card_from_address"}: #{Posting.format(posting.from_address)}".html_safe %></p>
    <p id='to_address'><%= "<i class='fa fa-map-marker  fa-lg red'></i>  #{t "postings_posting_details_card_from_address"}: #{Posting.format(posting.to_address)}".html_safe %></p>
    <p><%= "<i class='fa fa-calendar    fa-lg midnight'></i>  #{l posting.date, format: :default}".html_safe %></p>
    <p><%= "<i class='fa fa-clock-o     fa-lg orange'></i>  #{posting.starting_time.strftime("%H:%M")} - #{posting.ending_time.strftime("%H:%M")}".html_safe %></p>
    <% if posting.comments? %>
      <h6><%= "#{t 'postings_posting_details_card_notes'}"%></h6>
      <p><%= posting.comments %></p>
    <% end %>
  </div>
<% end %>
