<div class="posting-details">
  <p><%= "<i class='fa fa-user        fa-lg  blue'></i>  #{posting.user.name}".html_safe %></p>
  <p><%= "<i class='fa fa-map-marker  fa-2x green' ></i>  Nereden: #{truncate(Posting.format(posting.from_address), length: 30)}".html_safe %></p>
  <p><%= "<i class='fa fa-map-marker  fa-2x red'></i>  Nereye: #{truncate(Posting.format(posting.to_address), length: 30)}".html_safe %></p>
  <p><%= "<i class='fa fa-clock-o     fa-lg orange'></i>  #{posting.starting_time.strftime("%H:%M")}".html_safe %></p>
  <p><%= "<i class='fa fa-calendar    fa-lg midnight'></i>  #{l posting.date, format: :short}".html_safe %></p>
</div>