.span4
  = f.label :date
  = f.text_field :date
<br /> 
.row
  .span4
    = f.label :starting_time
    = f.time_select :starting_time , default: Time.now.localtime
.row
  .span4
    = f.label :ending_time
    = f.time_select :ending_time, default: Time.now.localtime + 30.minutes