.span7
  = f.radio_button :driving, "Sürücü", checked: true
  = f.label :driving, "Sürücü"
  = f.radio_button :driving, "Yolcu" 
  = f.label :driving, "Yolcu"
  = f.radio_button :driving, "Farketmez" 
  = f.label :driving, "Farketmez"