= provide(:title, 'Ilan Ara')
.row
  - if signed_in?
    %aside.span4
      %section
        = render 'shared/user_info'
    %section.span8
      = render 'find_postings'
  - else
    %section.span8.offset2
      = render 'find_postings'
      
      
- content_for :javascripts do
  = javascript_include_tag "postings.js"