%h3.center Yeni Ilan
#posting.row
  = simple_form_for @posting, html: { class: "form-horizontal" } do |f|
    .span6
      = f.input :from_address, label: "Nereden", as: :select, collection: DISTRICTS, include_blank: false, input_html: { onchange: "calcRoute()", id: "from_address" }
      = f.input :to_address, label: "Nereye", as: :select, collection: DISTRICTS, include_blank: false, input_html: { onchange: "calcRoute()", id: "to_address" }
      = f.input :starting_time, label: "Cıkış Zamanı", as: :string, input_html: { id: "starting_time",  value: "#{Time.now.strftime('%H:%M')}" }
      = f.input :ending_time, label: "Varış Zamanı", as: :string, input_html: { id: "ending_time", value: "#{(Time.now + 30.minutes).strftime('%H:%M')}" }
      #map.pull-right
    .span6
      = f.input :date, label: "Tarih", as: :string, default: Date.today, item_wrapper_class: "inline"
      = f.input :driving, label: "Ne Arıyorum", as: :radio_buttons, collection: ["Farketmez", "Sürücü", "Yolcu"], checked: "Farketmez", item_wrapper_class: "inline"
      = f.input :smoking, label: "Sigara", as: :radio_buttons, collection: ["Evet", "Hayır"], item_wrapper_class: "inline"
      = f.input :comments, label: "Ekstra", as: :text, input_html:{ cols: 30, rows: 5, resizable: false }, placeholder: "Yolculuk planinizi ve taleplerinizi yaziniz (Orn. Resitpasa'dan gidecegim. Yolculuk karsiliginda bir kahve getirirseniz sevinirim.)"
      = f.submit "Ilan Ver", class: "btn btn-primary pull-right span4", Fromstyle: "height: 50px"
      
- content_for :javascripts do
  = javascript_include_tag "postings.js"