.row
  %aside.span4
    %section      
      = render 'shared/user_info'
  %section.span8
    %h3 Yeni Ilan
    = form_for(@posting) do |f|
      = render "shared/error_messages", object: f.object      
      = render "trip_#{@posting.current_step}", f: f
      <br />
      .row
        .span2{ style: 'float: left' }
          = f.submit 'Geri', class: "btn btn-primary btn-small nav-button", name: "back_button" unless @posting.first_step?      
        .span2{ style: 'float: right' }
          = f.submit 'Devam', class: "btn btn-primary btn-small nav-button-right"
          