<div class="row">
  <%= render partial: "shared/sidebar" %>
  <div class="span4" id="posting-sharing">
	<div id="twitter" style: "margin-top: 20px">
		<div data-count="none">
      <a href="https://twitter.com/share?text=@Offtrafik'te ilan verdim. <%= Posting.format(@posting.from_address) %> - <%= Posting.format(@posting.to_address) %> arasi <%= l @posting.date, format: :default %> gununde yolculuk paylasacak insan ariyorum.&url=<%= request.protocol + request.host_with_port %>/postings/<%= @posting.id %>&count=none" class="btn btn-twitter"><i class="fa fa-twitter"></i>|Tweet</a>
		</div>
	</div>
    <!-- <fb:share-button data-href="<%= request.protocol + request.host_with_port %>/postings/<%= @posting.id %>" data-type="button"></fb:share-button>
     -->
      <button data-href="<%= request.protocol + request.host_with_port %>/postings/<%= @posting.id %>" data-type="button" class="btn btn-facebook"><i class="fa fa-facebook"></i> |Share</button>
  <div style="margin-top: 20px"></div>
  <%= link_to "İlanlara Dön", find_posting_path, class: "btn btn-primary green-button" %>
</div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1&status=0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% content_for :javascripts do %>
  <%= javascript_include_tag "sharing.js" %>
<% end %>