.row
  %aside.span4
    %section
      = render 'shared/user_info'
  .span8
    #facebook
      = link_to "<i class='icon-facebook'></i> Facebook'ta Paylas".html_safe, "#", class: "btn btn-large facebook", onclick: "return !window.open(this.href, 'Facebook', 'width=640,height=300')", href:"http://www.facebook.com/sharer/sharer.php", style: "color: white"
    #twitter
      = link_to "<i class='icon-twitter-sign'></i> Twitter'da Paylas".html_safe, "#", class: "btn btn-large twitter", onclick: "return !window.open(this.href, 'Facebook', 'width=640,height=300')", href:"http://www.twitter.com/intent/tweet?text=@Offtrafik'te ilan verdim. #{@posting.format(@posting.from_address)}-#{@posting.format(@posting.to_address)} arasi #{@posting.date.strftime("%d/%m/%Y")} gununde yolculuk paylasacak insan ariyorum.", style: "color: white"
    %div{style: "margin-top: 20px"}
    = link_to "Ilanlara Dön", find_posting_path, class: "btn btn-primary btn-large green-button"
