.row
  %aside.span4
    %section
      = render 'shared/user_info'
  %section.span8
    %h3{ style: "text-decoration: underline" } Ilan Detaylari
    %h4== Ilan Sahibi: #{@user.name}
    - if @user.preferred_contact_method == 'email'
      %h6== Iletisim(#{@user.preferred_contact_method}): #{ mail_to @user.preferred_contact_content}
    - else
      %h6== Iletisim(#{@user.preferred_contact_method}): #{@user.preferred_contact_content}  
    
    = label_tag "from_address", "Nereden: #{@posting.from_address}"
    = label_tag "to_address", "Nereye: #{@posting.to_address}"
    = label_tag "date", "Tarih: #{@posting.date.strftime('%d/%B/%y')}"
    = label_tag "starting_time", "Cıkış Zamani: #{@posting.starting_time.to_s(:time)}"
    = label_tag "ending_time", "Varış Zamani: #{@posting.ending_time.to_s(:time)}"
    = label_tag "smoking", "Sigara: #{@posting.smoking?}"
    = label_tag "driving", "Sürücü: #{@posting.driving?}"
    = gmaps({"direction"   => { "data" => { "from" => "#{@posting.from_address}", "to" => "#{@posting.to_address}" } }})
    = label_tag "comments", "Ekstra: #{@posting.comments}" unless @posting.comments.blank?