<div class="row">
  <aside>
    <%= render partial: "shared/sidebar", locals: { notifications: @notifications, postings_with_past_responses: @postings_with_past_responses } %>
  </aside>
  <section id="posting-show">
      <div class="span12">
        <div id="show-map" style="margin-top:20px"></div>
      </div>
      <div class="span7 row" id="posting-details" onload="calcRouteForShow()">
        <% cache [@posting, "show", @posting.user] do %>
          <%= render 'posting_details_card', posting: @posting %>
        <% end %>
        <%= display_option_buttons(@posting, @respondable) if @posting.active? %>
      </div>
    <% if @posting.has_unanswered_responses_by_owner? current_user %>
      <div class="span5" id="posting-responders">
        <h5 style="text-decoration:underline"><%= "#{t 'postings.show.replied_users'}"%></h5>
        <% @posting.posting_responses.each do |response| %>
          <%= render "posting_responses/response_for_posting", response: response %>
        <% end %>
      </div>
    <% end %>
  </section>
</div>

<div aria-hidden="true" aria-labelledby="contact-posting-owner-modal-label" class="modal hide fade" id="contact-posting-owner-modal-window" role="dialog"></div>
<div aria-hidden="true" aria-labelledby="enter-phone-modal-label" class="modal hide fade" id="enter-phone-modal-window" role="dialog"></div>

<% content_for :javascripts do %>
  <%= javascript_include_tag "maps_for_show.js" %>
<% end %>

