<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
  </aside>
  <div class="div" id="posting-show">
    <div class="span12">
      <div id="show-map" style="margin-top:20px"></div>
    </div>
    <div class="span7" id="posting-details" onload="calcRouteForShow()" style="margin-left: 340px">
      <h3 class="center" style="text-decoration: underline">İlan Detayları</h3>
      <p><span class='detail'>Ilan Sahibi:</span> <span class='answer'><%= link_to @user.name, user_path(@user) %></span></p>
      <p><span class='detail'>Nereden:</span> <span class='answer' id='from_address'><%= @posting.from_address %></span></p>
      <p><span class='detail'>Nereye:</span> <span class='answer' id='to_address'><%= @posting.to_address %></span></p>
      <p><span class='detail'>Tarih:</span> <span class='answer'><%= l @posting.date, format: :default %></span></p>
      <p><span class='detail'>Cıkış Zamani:</span> <span class='answer'><%= @posting.starting_time.to_s(:time) %></span></p>
      <p><span class='detail'>Varış Zamani:</span> <span class='answer'><%=@posting.ending_time.to_s(:time) %></span></p>
      <p><span class='detail'>Sigara:</span> <span class='answer'><%= @posting.smoking? %></span></p>
      <p><span class='detail'>Ihtiyaç:</span> <span class='answer'><%= @posting.driving %></span></p>
      <% if @posting.comments.present? %>
        <p><span class='detail'>Ekstra:</span> <span class='answer'><%= @posting.comments %></span></p>
      <% end %>
      <% if @posting.user_id != current_user.id && @posting.active? %>
        <% if @respondable %>
          <p><%= link_to "Iletişime Geç", posting_contact_posting_owner_path(@posting.id), class: "btn btn-primary btn-warning answer", style: "margin-left: 220px; width: 100px", id: "respond-button", data: { toggle: 'modal', target: '#contact-posting-owner-modal-window' }, remote: true %></p>
        <% else %>
          <p><%= link_to "Iletişime Geçildi", "#", class: "btn disabled answer", style: "margin-left: 220px; width: 120px; color: black", id: "respond-button" %></p>
        <% end %>
      <% else %>
        <p><%= link_to "Ilanı Sil", "#", method: :delete, confirm: "Emin Misiniz?", class: "btn btn-primary btn-danger answer", style: "width: 60px; margin-left: 113px" %></p>
      <% end %>
    </div>
  </div>
  <% if @posting.user_id == current_user.id && @posting.posting_responses.count > 0 %>
    <div class="span5" id="posting-responders">
      <h5 style="text-decoration:underline">Cevap Verenler</h5>
      <% @posting.posting_responses.each do |response| %>
      <p id="<%= response.responder.name.parameterize %>-response" class="responder-<%= response.accepted %>" style="line-height:25px;"><%= link_to (gravatar_for response.responder, size: 30), user_path(response.responder)%><%= link_to response.responder.name, user_path(response.responder) %>
        <span id="<%= response.responder.name.parameterize %>-answer" class="pull-right">
          <% if response.accepted %>
            Geliyor
          <% elsif response.rejected %>
            Gelmiyor
          <% else %>
            <%= link_to "<i class='icon-ok icon-white'></i><span style='color:white'>Gelsin</span>".html_safe, posting_response_accept_path(response), class: "btn btn-mini btn-success", data: { confirm: "#{response.responder.name} ile yolculuk yapmak istediginize emin misiniz?", positive: "#{response.responder.name} ile yolculuk etmeyi kabul ettiniz", negative: "#{response.responder.name} ile yolculuk etmeyi kabul etmediniz" }, method: :get, remote: true, data: { toggle: 'modal', target: '#enter-phone-modal-window' } %><%= link_to "<i class='icon-remove icon-white'></i><span style='color:white'>Gelmesin</span>".html_safe, posting_response_reject_path(response), class: "btn btn-mini btn-danger", style:"margin-left:20px; margin-right:20px;", data: { confirm: "#{response.responder.name}'i reddetmek istediginize emin misiniz?", positive: "#{response.responder.name} ile yolculuk etmeyi reddettiniz", negative: "#{response.responder.name} ile yolculuk etmeyi reddetmediniz" }, method: :get, remote: true %>
          <% end %>
      </span>
      </p>
    <% end %>
    </div>
  <% end %>
</div>
<div aria-hidden="true" aria-labelledby="contact-posting-owner-modal-label" class="modal hide fade" id="contact-posting-owner-modal-window" role="dialog"></div>
<div aria-hidden="true" aria-labelledby="enter-phone-modal-label" class="modal hide fade" id="enter-phone-modal-window" role="dialog"></div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "maps_for_show.js" %>
<% end %>
