%table.table.table-hover
  %tr
    %td Nereden
    %td Nereye
    %td Tarih
    %td Cıkış Zamanı
    %td Varış Zamanı
    %td Sigara
    %td Ihtiyaç
  %tbody
    - posting_list.each do |posting|
      %tr
        %td= link_to posting.from_address, posting
        %td= link_to posting.to_address, posting
        %td= link_to "#{l posting.date, format: :short}", posting
        %td= link_to posting.starting_time.to_s(:time), posting
        %td= link_to posting.ending_time.to_s(:time), posting
        %td= link_to posting.smoking?, posting
        %td= link_to posting.driving, posting