<ol class="postings">
  <% posting_list.each do |posting| %>
  <li class="posting clickable" href="<%= posting_path(posting) %>">
    <div class="posting-image-container center">
      <%= image_tag "posting-#{posting.driving.downcase.parameterize}.png", class: "posting-image" %>
    </div>
    <div class="posting-details">
      <p><%= "<i class='fa fa-user        fa-lg  blue'></i>  #{posting.user.name}".html_safe %></p>
      <p><%= "<i class='fa fa-map-marker  fa-2x green' ></i>  Nereden: #{truncate(Posting.format(posting.from_address), length: 30)}".html_safe %></p>
      <p><%= "<i class='fa fa-map-marker  fa-2x red'></i>  Nereye: #{truncate(Posting.format(posting.to_address), length: 30)}".html_safe %></p>
      <p><%= "<i class='fa fa-clock-o     fa-lg orange'></i>  #{posting.starting_time.strftime("%H:%M")}".html_safe %></p>
      <p><%= "<i class='fa fa-calendar    fa-lg midnight'></i>  #{posting.formatted_date}".html_safe %></p>
    </div>
  </li>
  <% end %>
</ol>
<%= will_paginate posting_list, param_name: "#{param_name}" %>
<!-- <table id="posting-search-results" class="table">
  <thead>
    <th>Kim</th>
    <th>Nereden</th>
    <th>Nereye</th>
    <th>Tarih</th>
    <th>Çıkış Zamanı</th>
    <th>Varış Zamanı</th>
    <th>İhtiyaç</th>
    <% if params[:action] == "past_responses" %>
      <td>Gerceklesti?</td>
    <% end %>
  </thead>
  <tbody>
    <% posting_list.each do |posting| %>
      <tr class="table-hover clickable" href="<%= posting_path(posting) %>">
        <td><%= posting.user.name %></td>
        <td><%= Posting.format(posting.from_address) %></td>
        <td><%= Posting.format(posting.to_address) %></td>
        <td><%= "#{l posting.date, format: :short}" %></td>
        <td><%= posting.starting_time.to_s(:time) %></td>
        <td><%= posting.ending_time.to_s(:time) %></td>
        <td><%= posting.driving %></td>
        <% if params[:action] == "past_responses" %>
          <td><%= link_to "Evet", "#", class: "yes", remote: true %> <%= link_to "Hayir", "#", class: "no", remote: true %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table> -->