<table class="table">
  <tr>
    <th>Kim</th>
    <th>Nereden</th>
    <th>Nereye</th>
    <th>Tarih</th>
    <th>Çıkış Zamanı</th>
    <th>Varış Zamanı</th>
    <th>İhtiyaç</th>
  </tr>
  <tbody>
    <% posting_list.each do |posting| %>
      <tr class="table-hover">
        <td>
          <%= link_to posting.user.name, posting %>
        </td>
        <td>
          <%= link_to posting.from_address, posting %>
        </td>
        <td>
          <%= link_to posting.to_address, posting %>
        </td>
        <td>
          <%= link_to "#{l posting.date, format: :short}", posting %>
        </td>
        <td>
          <%= link_to posting.starting_time.to_s(:time), posting %>
        </td>
        <td>
          <%= link_to posting.ending_time.to_s(:time), posting %>
        </td>
        <td>
          <%= link_to posting.driving, posting %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
