<table class="table table-hover">
  <tr>
    <td>Kim</td>
    <td>Nereden</td>
    <td>Nereye</td>
    <td>Tarih</td>
    <td>Çıkış Zamanı</td>
    <td>Varış Zamanı</td>
    <td>İhtiyaç</td>
    <% if params[:action] == "past_responses" %>
      <td>Gerceklesti?</td>
    <% end %>
  </tr>
  <tbody>
    <% posting_list.each do |posting| %>
      <tr>
        <td>
          <%= link_to posting.user.name, posting %>
        </td>
        <td>
          <%= link_to posting.from_address, posting %>
        </td>
        <td>
          <%= link_to posting.to_address, posting %>
        </td>
        <td>
          <%= link_to "#{l posting.date, format: :short}", posting %>
        </td>
        <td>
          <%= link_to posting.starting_time.to_s(:time), posting %>
        </td>
        <td>
          <%= link_to posting.ending_time.to_s(:time), posting %>
        </td>
        <td>
          <%= link_to posting.driving, posting %>
        </td>
        <% if params[:action] == "past_responses" %>
          <td><%= link_to "Evet", "#", class: "yes", remote: true %> <%= link_to "Hayir", "#", class: "no", remote: true %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
