<aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section id="notifications">
      <h2 style="color: black">Notifications: <%= @notifications.count %></h2>
      <% @notifications.each do |notification| %>
        <div class="clickable" href="<%= posting_path(notification.posting) %>">
          <p><%= "<i class='icon-user'></i>  #{notification.responder.name}".html_safe %></p>
          <p><%= "<i class='icon-map-marker icon-green'></i>  Nereden: #{notification.posting.from_address}".html_safe %></p>
          <p><%= "<i class='icon-map-marker icon-red'></i>  Nereye: #{notification.posting.to_address}".html_safe %></p>
          <p><%= "<i class='icon-time'></i>  #{notification.posting.starting_time.strftime("%H:%M")}".html_safe %></p>
        </div>
        <hr/>
      <% end %>
    </section>
  </aside>