#!/bin/env ruby
# encoding: utf-8

%a{ href: user_path(current_user) }
  = gravatar_for current_user, size: 52
%h1
  = link_to current_user.name, user_path(current_user)
%section
  Sürücü Puanı: #{current_user.driver_rating}/5      
  <br />
  Kişilik Puanı: #{current_user.person_rating}/5  
  <br />
  Sigara: #{current_user.smoking? ? "Evet" : "Hayır"}
  <br />
  #{current_user.preferred_contact_method}: #{current_user.preferred_contact_content}
  <br />
  %a{ class: "btn btn-primary btn-mini", style: "color:white; width: 40%", href: new_posting_path }
    %i.icon-edit.icon-white
    Yeni Ilan
  <br />
  %a{ class: "btn btn-primary btn-mini side-button", href: find_posting_path }
    %i.icon-search.icon-white
    Ilan Ara