<!-- <%= link_to (image_tag current_user.avatar.url(:thumb)), user_path(current_user), style: "float: left;
margin-right: 10px; width: 67px; height: 100px" %> -->
<h1>
  <%= link_to current_user.name, user_path(current_user) %>
</h1>
<section id="user_info">
  <p class="side-button-p">
    <a class="btn btn-primary i-button" href="<%= new_posting_path %>" style="color:white;">
      <i class="fa fa-edit fa-lg"></i>
      İlan Oluştur
    </a>
  </p>
  <p class="side-button-p">
    <a class="btn btn-primary side-button-search i-button" href="<%= find_posting_path %>">
      <i class="fa fa-search fa-lg"></i>
      İlan Ara
    </a>
  </p>
  <p class="side-button-p">
    <a class="btn btn-primary side-button-list i-button" href="<%= user_postings_path(current_user) %>">
      <i class="fa fa-list fa-lg"></i>
      İlanlarim
    </a>
  </p>
</section>
