<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @responder.name %></p>

<p>Başvurduğun <%= link_to "#{@to_from} ilanına", posting_url(@posting) %> sahibinin cevabı olumlu! Artık sadece buluşup yolculuğu gerçekleştirmeniz kaldı.
</p>

<p><%= @owner.name %>: <%= @owner.phone %></p>

<p>Yolculuğunuzu paylaştığınız için kendinizle gurur duymalısınız. İstanbul’daki her sürücünün paylaştığını hayal edin, trafiğin ve çevre kirliliğinin ne kadar azalacağını.. Buna öncülük ettiğiniz için sizi tebrik ederiz!</p>

<p>Yolculukla ilgili anılarınızı sosyal medyada #offtrafik ile paylaşmayı unutmayın.</p>

<p>İyi yolculuklar,</p>

<p>Offtrafik</p>

<p><%= image_tag "offtrafik-no-background-logo.png", width: "150px" %></p>