<meta content="text/html" http-equiv="Content-Type"/>
<p><%="#{t 'posting_response_mailer_accepted_to_owner_dear'}" @owner.name %></p>

<p>Mutlulukla belirtmek isteriz ki <%= link_to "#{@to_from} ilanına", posting_url(@posting) %> başvuruyu kabul ettiğini <%= @responder.name %> ilettik. Artık sadece buluşup yolculuğu gerçekleştirmeniz kaldı.</p>

<% if @responder.phone.present? %>
  <p><%= @responder.name %>: <%= @responder.phone %></p>
<% end %>

<p><%= "#{t 'posting_response_mailer_accepted_to_owner_first_paragraph'}"%></p>

<p><%= "#{t 'posting_response_mailer_accepted_to_owner_offtrafik_share_sentence'}"%></p>

<p><%= "#{t 'posting_response_mailer_accepted_to_owner_safe_ride'}"%></p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>