<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @responder.name %></p>

<p>Tebrikler! <%= link_to "#{@to_from}", posting_url(@posting) %> yolculugunu <%= @owner.name %> ile paylasacaksin.</p>

<p><%= @owner.name %>: <%= @owner.phone %></p>

<p>Lutfen birinizle irtibata gecmeyi unutmayin.</p>

<p>Offtrafik</p>

<p><%= image_tag "offtrafik-no-background-logo.png" %></p>