<meta content="text/html" http-equiv="Content-Type"/>
<p><%= "#{t 'posting_response_mailer.accepted_to_responder.dear'}" @responder.name %></p>

<p>Başvurduğun <%= link_to "#{@to_from} ilanına", posting_url(@posting) %> sahibinin cevabı olumlu! Artık sadece buluşup yolculuğu gerçekleştirmeniz kaldı.
</p>

<p><%= @owner.name %>: <%= @owner.phone %></p>

<p><%= "#{t 'posting_response_mailer.accepted_to_responder.congratulations_paragraph'}"%></p>

<p><%= "#{t 'posting_response_mailer.accepted_to_responder.offtrafik_share_sentence'}"%></p>

<p><%= "#{t 'posting_response_mailer.accepted_to_responder.safe_ride'}"%></p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>