<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @owner.name %></p>

<p>Mutlulukla belirtmek isteriz ki <%= link_to "#{@to_from} ilanına", posting_url(@posting) %> başvuruyu kabul ettiğini <%= @responder.name %> ilettik. Artık sadece buluşup yolculuğu gerçekleştirmeniz kaldı.</p>

<% if @responder.phone.present? %>
  <p><%= @responder.name %>: <%= @responder.phone %></p>
<% end %>

<p>Yolculukla ilgili anılarınızı sosyal medyada #offtrafik ile paylaşmayı unutmayın.</p>

<p>İyi yolculuklar,</p>

<p>Offtrafik</p>

<p><%= image_tag "offtrafik-no-background-logo.png", width: "150px" %></p>