<meta content="text/html" http-equiv="Content-Type"/>
<p><%="#{t 'posting_response_mailer_journey_happened_congratulations '}" link_to @owner.name, user_url(@owner) %> ve <%= link_to @responder.name, user_url(@responder) %></p>

<p><%= "#{t 'posting_response_mailer_journey_happened_paragraph_one'}"%></p>

<p><%= "#{t 'posting_response_mailer_journey_happened_paragraph_two'}"%></p>

<p><%= link_to "Offtrafik'te", root_url  "#{t 'posting_response_mailer_journey_happened_offtrafik_link_sentence'}"%></p>

<p>Ayrıca, kurduğumuz sistemi geliştirme fikirlerin varsa lütfen <a href="mailto:leri@offtrafik.com">bize yaz.</a></p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>