%meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/

%p== #{@owner.name},

%p 
  ==#{@responder.name} seninle #{@posting.formatted_date} tarihinde yapacagin 
  %strong==#{@to_from}
  == yolculugu icin irtibata gecmek istiyor. 

- if @text.present?
  %strong
    %p= "#{@responder.name}'in sana ozel bir notu var"
    %p= "#{@responder.name}: #{@text}"

%p== Eger hala trafikten kurtulacak birini ariyorsan #{mail_to @responder.email, "tikla", subject: "#{@to_from} -- #{@posting.formatted_date}", body: "#{@responder.name}, beraber gitmeye varim. #{@posting.formatted_date} tarihinde gorusuruz."}.

%p== Eger yol arkadaslarini bulduysan, lutfen #{link_to 'buraya tikla', posting_full_url(@posting.id)}

%p== #{@responder.name}