<meta content="text/html" http-equiv="Content-Type"/>
<p>Sevgili <%= @owner.name %>,</p>

<p><%= @responder.name %> seninle <%= link_to "#{@to_from}", posting_url(@posting) %> yolculuğunu paylaşmak istiyor.</p>

<% unless @text.blank? %>
  <h4 style="text-decoration: underline; margin-bottom: 0px"><%= "#{@responder.name} size ozel bir mesaj yolladı" %></h4>
  <p style="margin-top: 0px"><%= @text %></p>
<% end %>

<p>Linke tıklayıp ona cevap verebilir, daha keyifli ve çevreci bir yolculuk yapabilirsiniz.</p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>