<meta content="text/html" http-equiv="Content-Type"/>
<p><%="#{t 'posting_mailer.posting_contact.dear'}" @owner.name %>,</p>

<p><%= @responder.name %> seninle <%= link_to "#{@to_from}", posting_url(@posting) %> yolculuğunu paylaşmak istiyor.</p>

<% unless @text.blank? %>
  <h4 style="text-decoration: underline; margin-bottom: 0px"><%= "#{@responder.name} #{t 'posting_mailer.posting_contact.sent_message'}" %></h4>
  <p style="margin-top: 0px"><%= @text %></p>
<% end %>

<p><%= "#{t 'posting_mailer.posting_contact.click_link_sentence'}"%></p>

<p>Offtrafik</p>

<p><%= image_tag "https://s3.amazonaws.com/offtrafik-staging/offtrafik-no-background-logo.png", width: "150px" %></p>