%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner{ style: "background: green" }
    .container
      = link_to "Koç Carpool Projesi", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Ana Sayfa", root_path, style: "color: white" # home
          %li= link_to "Hakkimizda", about_path, style: "color: white" # about
          - if signed_in?
            %li#fat-menu.dropdown
              <a href='#' class="dropdown-toggle" data-toggle="dropdown" style="color: white"> Profil <b class="caret"></b></a>
              %ul.dropdown-menu
                %li= link_to "Profil", current_user
                %li= link_to "Ayarlar", edit_user_path(current_user) # settings
                %li.divider
                  %li= link_to "Çıkış", signout_path, method: "delete" # signout
          - else
            %li= link_to "Neden?", why_path, class: "navbar-tab" # why
            %li= link_to "Giriş", signin_path, class: "navbar-tab" #signin