<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" id="header-content">
    <div class="container">
      <% if signed_in? %>
        <%= link_to (image_tag "offtrafik-no-background-logo.png", id: "logo"), find_posting_path %>
      <% else %>
        <%= link_to (image_tag "offtrafik-no-background-logo.png", id: "logo"), root_path %>
      <% end %>
      <nav>
        <ul class="nav pull-right" style="margin-top: 10px">
          <% if signed_in? %>
            <li>
              <%= link_to "Ana Sayfa", find_posting_path %>
            </li>
            <li><%= link_to current_user.name, current_user %></li>
            <% if notifications %>
              <li class="dropdown" id="header-notifications"><%= link_to notifications.count, "#", class: "dropdown-toggle", id: "notification-box" , data: { toggle: "dropdown" } %>
                <ul class="dropdown-menu">
                  <% notifications.each do |notification| %>
                    <li><em></em>
                      <div class="clickable" href="<%= posting_path(notification.posting) %>">
                        <span class="notification-element"><%= "<i class='fa fa-user        fa-sm  blue'></i>  #{notification.responder.name}".html_safe %></span><br/>
                        <span class="notification-element"><%= "<i class='fa fa-map-marker  fa-sm green' ></i> #{Posting.format(notification.posting.from_address)}".html_safe %></span><br/>
                        <span class="notification-element"><%= "<i class='fa fa-map-marker  fa-sm'></i> #{Posting.format(notification.posting.to_address)}".html_safe %></span><br/>
                        <span class="notification-element"><%= "<i class='fa fa-clock-o     fa-sm'></i>  #{notification.posting.starting_time.strftime("%H:%M")}".html_safe %></span><br/>
                        <span class="notification-element"><%= "<i class='fa fa-calendar    fa-sm'></i>  #{notification.posting.formatted_date}".html_safe %></span><br/>
                      </div>
                    </li>
                    <hr>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li class="dropdown">
              <%= link_to "Profil <b class='caret'></b>".html_safe, "#", class: "dropdown-toggle", data: { toggle: "dropdown" } %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Ayarlar", edit_user_path(current_user) %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Çıkış", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to "Ana Sayfa", root_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>