%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner{ style: "background: green" }
    .container
      - if signed_in?
        = link_to "Offtrafik", find_posting_path, id: "logo"
      - else
        = link_to "Offtrafik", root_path, id: "logo"
      %nav
        %ul.nav.pull-right                  
          - if signed_in?
            %li= link_to "Ana Sayfa", find_posting_path, style: "color: white" # home  
            %li.dropdown
              = link_to "Profil <b class='caret'></b>".html_safe, "#", class: "dropdown-toggle", data: { toggle: "dropdown" }, style: "color: white"
              %ul.dropdown-menu
                %li
                  = link_to "Profil", current_user
                %li
                  = link_to "Ayarlar", edit_user_path(current_user) # settings
                %li.divider
                %li
                  = link_to "Çıkış", signout_path, method: "delete" # signouton            
                  
          - else
            %li= link_to "Ana Sayfa", root_path, style: "color: white" # home
            %li= link_to "Neden?", why_path, class: "navbar-tab", style: "color: white" # why
            %li= link_to "Giriş", signin_path, class: "navbar-tab", style: "color: white" #signin