<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" id="header-content">
    <div class="container">
      <%= link_to (image_tag "offtrafik-no-background-logo.png", id: "logo"), find_posting_path %>
      <nav>
        <ul class="nav pull-right" style="margin-top: 10px">
          <% if signed_in? %>
            <li>
              <%= link_to "#{t 'layouts.header.main_page'}", find_posting_path %>
            </li>
            <li><%= link_to current_user.name, current_user %></li>
            <% if @notifications %>
              <li class="dropdown" id="header-notifications"><%= link_to @notifications_count, "#", class: "dropdown-toggle", id: "notification-box" , data: { toggle: "dropdown" } %>
                <ul class="dropdown-menu">
                  <% @notifications.each do |notification| %>
                    <li><em></em>
                      <%= render partial: 'postings/header_notification', locals: { notification: notification } %>
                    </li>
                    <hr>
                  <% end %>
                </ul>
              </li>
            <% end %>
            <li class="dropdown">
              <%= link_to "#{t 'layouts.header.profile'} <b class='caret'></b>".html_safe, "#", class: "dropdown-toggle", data: { toggle: "dropdown" } %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "#{t 'layouts.header.settings'}", edit_user_path(current_user) %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to "#{t 'layouts.header.logout'}", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to "#{t 'layouts.header.main_page'}", root_path %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
